# ignore files containing sensitive information
app/config.php
app/config.bak.php
app/file-uploader.php
app/admin/backups/*.sql

# ignore files generated dynamically by AppGini application
app/setup.md5
app/tmp
app/admin/tmp
app/plugins

# ignore user-uploaded files
app/images
!app/images/index.html
!app/images/blank.gif
*.log
*.cache
*.zip
