<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the transactions_init() hook (in hooks/transactions.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="transactions-transaction_date-<%%VALUE(id)%%>" class="transactions-transaction_date text-bold"><%%VALUE(transaction_date)%%></td>
		<td id="transactions-item-<%%VALUE(id)%%>" class="transactions-item text-bold"><%%VALUE(item)%%></td>
		<td id="transactions-batch-<%%VALUE(id)%%>" class="transactions-batch text-bold"><%%VALUE(batch)%%></td>
		<td id="transactions-section-<%%VALUE(id)%%>" class="transactions-section text-bold"><%%VALUE(section)%%></td>
		<td id="transactions-transaction_type-<%%VALUE(id)%%>" class="transactions-transaction_type text-bold"><%%VALUE(transaction_type)%%></td>
		<td id="transactions-quantity-<%%VALUE(id)%%>" class="transactions-quantity text-right text-bold"><%%VALUE(quantity)%%></td>
